.feedback {
    background: #000;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



/************Responsive *****************/
@media (max-width: 1024px) {}

@media(max-width: 992px) {}


@media(max-width: 768px) {}


@media (max-width: 670px) {}




/********Mobile ******/
@media (max-width: 576px) {
    .feedback {
        flex-direction: column;
    }
}

@media (max-width: 468px) {}

@media (max-width: 420px) {}

@media (max-width: 320px) {}
