
/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus,
input:focus {
    border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

textarea:focus:-moz-placeholder {
    color: transparent;
}

textarea:focus::-moz-placeholder {
    color: transparent;
}

textarea:focus:-ms-input-placeholder {
    color: transparent;
}

input::-webkit-input-placeholder {
    color: #363636;
}

input:-moz-placeholder {
    color: #363636;
}

input::-moz-placeholder {
    color: #363636;
}

input:-ms-input-placeholder {
    color: #363636;
}

/*---------------------------------------------*/

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}*/


/*//////////////////////////////////////////////////////////////////
[ chekbox ]*/
.login-forgot a{
    color:#363636;
}
.login-forgot a:hover{
    color:#000;
}
.chekbox {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #363636;
    line-height: 1.5;
    text-decoration: none;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.login {
    width: 100%;
    margin: 0 auto;
    padding:0;
    height: 95vh;
    box-sizing:border-box;
}

.container-login {
    height:100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;

    background-image: url('../../img/bg-01.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.container-login::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(124, 124, 124, 0.9);
}

.wrap-login {
    width: 400px;
    border-radius: 10px;
    overflow: hidden;
    padding: 55px 55px 37px 55px;
    background: #fff;
}

.prev-block {
    position: fixed;
    top: 5px;
    left: 15px;
    font-size: 30px;
    transition: all 1.3s ease;
}

.prev-block {
    padding: 5px 15px;
    background: #fff;
    border-radius: 50%;
}

.prev-block a {
    color: #000;
}

.prev-block a:hover {
    cursor: pointer;
    animation: wobbleud 0.5s linear infinite;
}


.prev-block i:hover {
    cursor: pointer;
    animation: jumpRigthLeft 0.5s linear infinite;
}



@keyframes jumpRigthLeft {
    0% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);

        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }

    25% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);

        -webkit-transform: translateX(3px);
        -ms-transform: translateX(3px);
        -o-transform: translateX(3px);
        transform: translateX(3px);
    }

    75% {
        -webkit-transform: translateY(-1px);
        -ms-transform: translateY(-1px);
        -o-transform: translateY(-1px);
        transform: translateY(-1px);
    }

    100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}


/*------------------------------------------------------------------
[ Form ]*/

.login-form {
    width: 100%;
}

.login-form-logo {
    font-size: 60px;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #fff;
    margin: 0 auto;

}

.login-form-avatar {
    width: 120px;
    height: 115px;
    border-radius: 50%;
}

.login-form-title {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: #000;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    display: block;
    padding-bottom: 34px;
    padding-top: 27px;
}


/*------------------------------------------------------------------
[ Input ]*/

.wrap-login-input {
    width: 100%;
    position: relative;
    border-bottom: 2px solid rgba(0, 0, 0, 0.24);
    margin-bottom: 30px;
}

.login-input {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #000;
    line-height: 1.2;

    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 5px 0 38px;
}

/*---------------------------------------------*/

.focus-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus-input::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    background: #4665b8;
}

.focus-input::after {
    font-family: Material-Design-Iconic-Font;
    font-size: 22px;
    color: #000;

    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 6px;
    left: 0px;
    padding-left: 5px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login-input:focus {
    padding-left: 5px;
}

.login-input:focus + .focus-input::after {
    top: -22px;
    font-size: 18px;
}

.login-input:focus + .focus-input::before {
    width: 100%;
}

.has-val.login-input + .focus-input::after {
    top: -22px;
    font-size: 18px;
}

.has-val.login-input + .focus-input::before {
    width: 100%;
}

.has-val.login-input {
    padding-left: 5px;
}


/*==================================================================
[ Restyle Checkbox ]*/

.login-form-addition {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 35px;
}

.login-form-checkbox {
    display: none;
}

.label-login-form-checkbox {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #363636;
    line-height: 1.2;

    display: block;
    position: relative;
    padding-top: 4px;
    padding-left: 26px;
    cursor: pointer;
}

.label-login-form-checkbox::before {
    content: "\f26b";
    font-family: Material-Design-Iconic-Font;
    font-size: 13px;
    color: transparent;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    background: #000;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.login-form-checkbox:checked + .label-login-form-checkbox::before {
    color: #fff;
}

.login-forgot a{
    text-decoration: none;
}


.login-form-error{
    font-size:13px;
    padding-top:20px;
    color:#b54444;
    font-weight:bold;
    padding-bottom: 20px;
}

/*------------------------------------------------------------------
[ Button ]*/

.container-login-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login-form-btn {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 120px;
    height: 50px;
    border-radius: 25px;
    background: #4665b8;
    position: relative;
    z-index: 1;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.fa-sign-in {
    margin-left: 10px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}


.login-form-btn:hover i {
    cursor: pointer;
    animation: jumpRigthLeft 0.5s linear infinite;
}

@keyframes jumpRigthLeft {
    0% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);

        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }

    25% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);

        -webkit-transform: translateX(-3px);
        -ms-transform: translateX(-3px);
        -o-transform: translateX(-3px);
        transform: translateX(-3px);
    }

    75% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);

        -webkit-transform: translateX(3px);
        -ms-transform: translateX(3px);
        -o-transform: translateX(3px);
        transform: translateX(3px);
    }

    100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}


/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
    .wrap-login {
        padding: 55px 15px 37px 15px;
    }
}
